#gradient-title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    background-image: linear-gradient(284deg, #8A2387, #E94057, #F27121);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.product {
    border-radius: 1rem;
}

.product .card-img-top {
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.product .btn {
    border-radius: 0.5rem;
}