{% extends "shop/base.html" %}
{% load bootstrap5 %}
{% load humanize %}
{% load static %}
{% load menu %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/shop/base.css' %}">
<link rel="stylesheet" href="{% static 'css/shop/product.css' %}">
{% endblock %}

{% block title %}{{ product.name | title }}{% endblock %}

{% block header %}
<header>
    {% show_menu 'main' %}
</header>
{% endblock %}


{% block main %}
<main role="main">
    <div class="container product">
        <div class="row product-title">
            <div class="col">
                <h1 class="text-center"><strong>{{ product.name }}</strong></h1>
                <hr>
                <div class="breadcrumbs">
                </div>
            </div>
        </div>
        <div class="row product-content">
            <div class="col-8">
                {% image_slider product.images.all %}
            </div>
            <div class="col-4">
                <h2 class="product-price">
                    <span id="price"><strong>{{ product.price | intcomma }}₽</strong></span>
                </h2>
                <p class="prop-key">Артикул: <span class="prop-value">{{ product.sku | watermark }}</span></p>
                {% if product.is_available %}
                    {% bootstrap_button content="Добавить в корзину" button_class="btn-primary" size="large" %}
                {% else %}
                    {% bootstrap_button content="Нет в наличии" button_class="btn-outline-secondary" size="large" extra_classes="disabled" %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}


