{% extends "shop/base.html" %}
{% load bootstrap5 %}
{% load humanize %}
{% load static %}
{% load menu %}

{% block css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/shop/base.css' %}">
<link rel="stylesheet" href="{% static 'css/shop/index.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/shop/index.js' %}"></script>
{% endblock %}

{% block title %}Kratos | Главная{% endblock %}

{% block header %}
<header>
    {% show_menu 'main' %}
</header>
{% endblock %}


{% block main %}
<main role="main">
    <div class="container p-3">
        <div class="row m-4">
            <h1 id="gradient-title" class="text-center">Все товары:</h1>
        </div>
        <div class="row row-cols-3 gx-5 gy-5">
            {% for product in products %}
            <div class="col">
                <div class="card product">
                    {% if product.main_image %}
                        <img class="card-img-top img-fluid" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="/media/img/noimage.jpg" alt="Фотографии нет">
                    {% endif %}
                    <div class="p-3 card-body container">
                        <div class="row row-cols-2">
                            <h5 class="col card-title">{{ product.name }}</h5>
                            <a class="p-1 gr-0 col btn btn-primary add-to-cart" data="{{ product.id }}">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for product in products %}
            <div class="col">
                <div class="card product">
                    {% if product.main_image %}
                        <img class="card-img-top img-fluid" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="/media/img/noimage.jpg" alt="Фотографии нет">
                    {% endif %}
                    <div class="p-3 card-body container">
                        <div class="row row-cols-2">
                            <h5 class="col card-title">{{ product.name }}</h5>
                            <a class="p-1 gr-0 col btn btn-primary add-to-cart" data="{{ product.id }}">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for product in products %}
            <div class="col">
                <div class="card product">
                    {% if product.main_image %}
                        <img class="card-img-top img-fluid" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="/media/img/noimage.jpg" alt="Фотографии нет">
                    {% endif %}
                    <div class="p-3 card-body container">
                        <div class="row row-cols-2">
                            <h5 class="col card-title">{{ product.name }}</h5>
                            <a class="p-1 gr-0 col btn btn-primary add-to-cart" data="{{ product.id }}">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}